.cards {
  position: relative;
  display: flex;
  flex: 1 1;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  $border: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 15px;
  padding: 30px 25px;
  text-align: center;
  border-radius: $border;
  background-color: $background-card;
  transition: 0.2s ease-in-out;

  &:hover {
    background-color: $background-card___hover;
  }

  script {
    display: block;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    text-align: left;
    font-family: monospace;
    white-space: pre;

    @media all and (max-width: 1000px) {
      white-space: pre-wrap;
    }
  }
}

.card__header {
  text-align: left;
  padding-bottom: 2em;
}

.card__body {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card__body-container {
  margin: 10px;
  padding: 20px;
  flex: 1 1;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);

  .body-container__item {
    margin-bottom: 10px;
  }
}

.card__body-header {
  color: $text-dark;
  text-align: left;
  font-size: 1.2rem;
  margin: 0;
  margin-bottom: 1rem;
}

.card__body-text {
  text-align: left;
  margin-bottom: 5px;
}

.card__footer {
  margin-top: 20px;
  text-align: right;
}

.header__title {
  font-size: 2rem;
}

.header__sub-title {
  font-size: 1.4rem;
  margin: 0.8rem 0 1.4rem 0;
}

.header__description {
  padding-bottom: 10px;
}

.card__body___horizontal {
  flex-direction: row;
  flex: 1 1;

  @media all and (max-width: 800px) {
    flex-direction: column;
  }
}
