.cards {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.card {
  $border: 10px;
  position: relative;
  flex: 1 1 calc(50% - 30px);
  box-sizing: border-box;
  margin: 15px;
  padding: 30px 25px;
  text-align: center;
  border-radius: $border;
  background-color: $background-card;
  transition: 0.2s ease-in-out;

  &:hover {
    background-color: $background-card___hover;
  }
}

.card__header {
  text-align: left;
  padding-bottom: 2em;
}

.card__body {
  display: flex;
  flex-direction: column;
}

.card__footer {
  text-align: right;
}

.header__title {
  font-size: 2em;
  font-weight: 700;
}

.header__description {
  padding-bottom: 10px;
}

.card__body___horizontal {
  flex-direction: row;
}
