.input_group {
  position: relative;

  input,
  textarea {
    margin: 0.3rem 0;

    background-color: $background;
    color: $text-light;
    border: none;
    border-radius: 5px;
  }

  input {
    min-width: 100px;
    height: 50px;
    padding: 14px 10px 5px 10px;
    font-size: 1.4rem;
  }

  textarea {
    height: 100%;
    padding: 20px 10px 5px 10px;
    font-size: 1rem;
  }

  label {
    position: absolute;
    top: 8px;
    left: 10px;
    color: $text-dark;
    font-size: 0.7rem;
  }

  .input__error_msg {
    display: none;
    padding: 10px;
  }

  .input---error {
    display: block;
    color: red;
  }
}

.input---block {
  width: 100%;
}

.input---notInteractive {
  pointer-events: none;
}
