.segmented_control {
  position: relative;
  margin: 10px 0;
  width: 100%;

  input {
    display: none;
  }

  label {
    display: inline-block;
    width: 33%;
    height: 20px;
    padding-top: 10px;

    border: 1px solid white;
    text-align: center;
    font-size: 0.8rem;

    cursor: pointer;

    &:first-of-type {
      border-radius: 30px 0 0 30px;
      border-right: none;
    }

    &:last-of-type {
      border-radius: 0 30px 30px 0;
      border-left: none;
    }
  }

  input[type="radio"]:checked + label {
    background: #fff;
    color: #333;
  }
}
