<div class="card__header">
  <h3 class="header__title">
    General Bearing Functions
  </h3>
  <h4 class="header__sub-title">
    getBngDiff(), addHDG(), invertHDG(), getMiddleAngle()
  </h4>

  <p class="header__description">
    getBngDiff(): &nbsp&nbspCalculate normalized difference between two bearings
  </p>
  <p class="header__description">
    addHDG(): &nbsp&nbspAdds and normalizes two bearings
  </p>
  <p class="header__description">
    invertHDG(): &nbsp&nbspInverts and normalizes heading
  </p>
  <p class="header__description">
    getMiddleAngle(): &nbsp&nbspCalculates difference in two bearings and
    returns middle bearing
  </p>
</div>
<div class="card__body"></div>
<div class="card__footer">More Info</div>
