<div class="card__header">
  <h3 class="header__title">getDestinationPoint()</h3>
  <h4 class="header__sub-title">Get position from bearing and distance</h4>
  <p class="header__description">
    Use origin point, bearing and distance to calculate new position
  </p>
</div>
<div class="card__body card__body___horizontal">
  <div class="card__body-container">
    <h5 class="card__body-header">
      Options
    </h5>
    <div class="body-container__item">
      <p class="card__body-text">
        Surface Model
      </p>
      <p class="card__body-text">
        Type of formula to use. Spherical is less accurate but also less
        processor intensive.
      </p>
      <div id="gdp_surfaceModel" class="segmented_control"></div>
    </div>
    <div class="body-container__item">
      <p class="card__body-text">
        Output Format
      </p>

      <div id="gdp_outputFormat" class="segmented_control"></div>
    </div>

    <button id="getDestination">
      Go!
    </button>
  </div>
  <div class="card__body-container">
    <h5 class="card__body-header">
      Input and Result
    </h5>
    <div class="body-container__item">
      <p class="card__body-text">
        Origin
      </p>
      <div class="input_group">
        <label for="gdp_origin_lat">Lat</label>
        <input
          type="text"
          class="input---block"
          name="gdp_origin_lat"
          value="51.47788"
        />
      </div>
      <div class="input_group">
        <label for="gdp_origin_lon">Lon</label>
        <input
          type="text"
          class="input---block"
          name="gdp_origin_lon"
          value=" -0.00147"
        />
      </div>
    </div>
    <div class="body-container__item">
      <p class="card__body-text">
        Direction and Distance Travelled
      </p>
      <div class="input_group">
        <label for="gdp_bearing">Bearing</label>
        <input
          type="text"
          class="input---block"
          name="gdp_bearing"
          placeholder="Direction travelled"
          value="300.7"
        />
      </div>
      <div class="input_group">
        <label for="gdp_distance">Distance</label>
        <input
          type="text"
          class="input---block"
          name="gdp_distance"
          placeholder="ex: 1,349Km"
          value="7794m"
        />
      </div>
    </div>
    <div class="body-container__item">
      <p class="card__body-text">
        Destination
      </p>
      <div class="input_group input_group---notInteractive">
        <label for="gdp_dest_lat ">Latitude</label>
        <input type="text" class="input---block" name="gdp_dest_lat" />
      </div>
      <div class="input_group input_group---notInteractive">
        <label for="gdp_dest_lon">Longitude</label>
        <input type="text" class="input---block" name="gdp_dest_lon" />
      </div>
    </div>
  </div>

  <div class="card__body-container">
    <h5 class="card__body-header">
      Simple Implementation
    </h5>
    <p class="card__body-text">
      Process wide range of gps position formats into a decimal format. Accepts
      Object, Array or String.
    </p>
    <script type="text/html">
      const point = geo.parseDMS(origin);
    </script>
    <p class="card__body-text">
      Point must be in Decimal - Ex: 34.2334
    </p>
    <p class="card__body-text">
      Distance requires type [Km , M, NM, m] - Ex: 4,234Km
    </p>
    <script type="text/html">
      const destPoint = geo.getDestinationPoint({
        point,
        distance,
        bearing
      });
    </script>
  </div>
</div>
<div class="card__footer">More Info</div>
