<div class="card__header">
  <h3 class="header__title">getDestinationPoint()</h3>
  <h4 class="header__sub-title">Get position from bearing and distance</h4>
  <p class="header__description">
    Use origin point, bearing and distance to calculate new position
  </p>
</div>
<div class="card__body card__body___horizontal">
  <div class="card__body-container">  
    <h5 class="card__body-header">
      Options
    </h5>  
    <p class="card__body-text">
      Format
    </p>
    <div class="segmented_control">
      <input type="radio" id="dms" name="format" />
      <label for="dms">DMS</label>
      <input type="radio" id="cardinal" name="format" />
      <label for="cardinal">Cardinal</label>
      <input type="radio" id="decimal" name="format" />
      <label for="decimal">Decimal</label>
    </div>
    <button onclick="getDestinationPoint.getDestinationPoint(event)">
      Go!
    </button>
  </div>
  <div class="card__body-container">
    <h5 class="card__body-header">
      Input and Result
    </h5>  
    <p class="card__body-text">
      Origin
    </p>
    <div class="input_group">
      <label for="gdp_origin_lat">Lat</label>
      <input
        type="text"
        class="input---block"
        name="gdp_origin_lat"
        value="51.47788"
      />
    </div>
    <div class="input_group">
      <label for="gdp_origin_lon">Lon</label>
      <input
        type="text"
        class="input---block"
        name="gdp_origin_lon"
        value=" -0.00147"
      />
    </div>
    <p class="card__body-text">&nbsp</p>
    <div class="input_group">
      <label for="gdp_bearing">Bearing</label>
      <input
        type="text"
        class="input---block"
        name="gdp_bearing"
        placeholder="Direction travelled"
        value="300.7"
      />
    </div>
    <div class="input_group">
      <label for="gdp_distance">Distance</label>
      <input
        type="text"
        class="input---block"
        name="gdp_distance"
        placeholder="ex: 1,349Km"
        value="7794m"
      />
    </div>
    <p class="card__body-text">
      Destination
    </p>
    <div class="input_group input_group---notInteractive">
      <label for="gdp_dest_lat ">Latitude</label>
      <input type="text" class="input---block" name="gdp_dest_lat" />
    </div>
    <div class="input_group input_group---notInteractive">
      <label for="gdp_dest_lon">Longitude</label>
      <input type="text" class="input---block" name="gdp_dest_lon" />
    </div>
  </div>

  
  <div class="card__body-container">
    <h5 class="card__body-header">
      Simple Implmentation
    </h5>  
    <p class="card__body-text">
      Process any form of human readable gps data into a decimal format
    </p>
    <script type=”text/html”>
      const point = {
        lat: geo.parseDMS(origin.lat.value),
        lon: geo.parseDMS(origin.lon.value),
      };
    </script>
    <p class="card__body-text">
      Process any form of human readable gps data into a decimal format
    </p>
    <script type=”text/html”>
      const destPoint = geo.getDestinationPoint({
        point,
        distance: distance.value,
        bearing: Number(bearing.value),
        formatType: "Cardinal",
      });
  
      destination.lat.value = destPoint.lat;
      destination.lon.value = destPoint.lon;
    </script>
  
  </div>
</div>
<div class="card__footer">More Info</div>
