<div class="card__header">
  <h3 class="header__title">parseDMS()</h3>
  <h4 class="header__sub-title">Parse and Validate Geo String</h4>
  <p class="header__description">
    Parse a human readable or error prone GPS position like string into Decimal
    format and validates it is a valid value. Returns error describing where the
    value is incorrect
  </p>

  <p class="header__description">
    Will successfully parse:&nbsp&nbsp 93 07 57.9 W,&nbsp&nbsp W053
    07,&nbsp&nbsp 53°07'57.9W
  </p>
  <p class="header__description">
    Will trap errors:&nbsp&nbsp 193 07 57.9 W,&nbsp&nbsp W053 po07,&nbsp&nbsp
    93°07'57.9S
  </p>
</div>
<div class="card__body">
  <form>
    <div class="input_group">
      <label for="dms_string">DMS String</label>
      <input
        id="pvs_dms_string"
        class="input---block"
        type="text"
        name="dms_string"
        placeholder="Enter string here"
      />
    </div>
    <button id="pvs_parseDMS">Go!</button>
    <div class="input_group">
      <label for="d_output">Output</label>
      <input
        class="input---block input---notInteractive"
        type="text"
        name="d_output"
        placeholder="Decimal format will appear here"
      />
    </div>
  </form>
</div>
<div class="card__footer">More Info</div>
